<div class="container-fluid d-flex justify-content-center p-4">
  <div class="row col-12 col-sm-10 col-md-8">
    <div class="container-fluid bg-dark-glass rounded text-white">
      <div class="row p-2 justify-content-between align-items-center text-white">
        <div class="col-12 fs-5 fw-bold">
          404: Resource Not Found
        </div>
      </div>
      <div class="row">
        <div class="col-12 p-4 pt-1">
          <p>
            We couldn't find the page you are trying to access.
          </p>
          <p class="m-0">
            Feeling lost? Visit the <a class="link-light" href="/">home page</a> or use the navigation links above!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>