<div class="container-fluid p-2">
  <div class="row px-2 my-4 justify-content-center">
    <h2 class="col-12 text-white fw-bold">
      Tasks assigned to: {{username}}
    </h2>
  </div>
</div>
<div class="container-fluid p-4 pb-2 bg-light-grey">
  <div class="row justify-content-center py-2">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <h4 class="fw-bold d-inline-block text-white">
          My Tasks:
      </h4>
      <div>
        <button id="new_post" class="btn btn-secondary m-0" href=""><i class="fa-solid fa-plus"></i>&nbsp;Draft A New Task</button>
      </div>
    </div>
  </div>
</div>
<div id="post_container" class="container-fluid px-4 pb-4 bg-light-grey text-white">
  {{#if posts}}
  {{#each posts as |post|}}
    {{>post post_all=false}}
  {{/each}}
  {{else}}
  No Tasks Assigned Yet.
  {{/if}}
</div>
<script src="/assets/js/helpers.js"></script>
<script src="/assets/js/publish-post.js"></script>
{{#if posts}}
<script src="/assets/js/delete-post.js"></script>
{{/if}}