<div class="container-fluid p-2"></div>
<div class="container-fluid p-4 pb-2 bg-light-grey">
  <div class="row justify-content-center py-2">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <h4 class="fw-bold d-inline-block text-white">All Tasqs</h4>
    </div>
  </div>
</div>
<div class="container-fluid px-4 pb-4 bg-light-grey">
  {{#if posts}}
  {{#each posts as |post|}}
    {{>post post_all=true}}
  {{/each}}
  {{else}}
  No tasks created or assigned yet.
  {{/if}}
</div>