


    <header class = "header">
        <div>
            <h3>TASK MANAGER</h3>
        </div>
        <nav id="headerlinks">
            
            <a href="./login.handlebars">Login</a>
            
        </nav>
    
    </header>
    

<section id = "Tables1">
        <h2>Top Repositories</h2>
    
    <aside>

        <ul>
            <li><a href="./login.handlebars">WilliamHirschh/Project 1</a></li>
        
            <li><a href="./login.handlebars">Binderb/Project 2</a></li>

            <li><a href="./login.handlebars">Fleischmanj88/Project 3</a></li>
        
            <li><a href="./login.handlebars">Tvanmeveren/Project 4</a></li>
        </ul>    
    </aside>


</section>

<section id = "Tables2">
   <h2>Description of site</h2>
   <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</section>



<script src="./js/profile.js"></script>



