<div class="row">
  <div class="col-md-6 text-white">
    <h2>Login Here</h2><br>

    <form class="form login-form">
      <div class="form-group mx-auto">
        <label for="email-login">Email: <input class="form-input" type="text" id="email-login" /></label>
      </div>
      <div class="form-group mx-auto">
        <label for="password-login ">Password: <input class="form-input" type="password" id="password-login" /></label>
      </div>
      <div class="form-group mx-auto" style="width:150px">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6 text-white">
    
    <h2>Signup</h2><br>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Name:  </label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:  </label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:  </label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign Up Here</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
