  <div id="flex_container" style="display:flex;justify-content:center;align-items:center;height:100%;">
    <div id="svg_container" style="display:block;width:50%;margin-top:20px;">
      <svg id="svg2" viewBox="0 0 500 500" preserveAspectRatio="xMidYMid meet"></svg>
    </div>
  </div>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="/js/drawProjectDiagram.js"></script>