  <section id="project-display">
  <div class="container-fluid m-0 pb-4">
    <div class="row p-2">
      <div class="col-12 p-2 bg-dark-glass rounded">
        <h3 class="text-center text-white">{{ project.title }}</h3>
        <h5 class="text-center text-white fw-light">Task Diagram</h5>
      </div>
    </div>
    <div class="row">
      <section id="section-diagram" class="col-12 col-md-7 p-2 py-1 pt-0 pe-md-1 py-md-0">
        <div id="svg_container" class="d-block p-2 bg-dark-glass rounded">
          <svg id="diagram" viewBox="0 0 500 500" preserveAspectRatio="xMidYMid meet" data-project-id="{{ project.id }}"></svg>
        </div>
      </section>
      <section id="section-details" class="col-12 col-md-5 p-2 py-1 ps-md-1 py-md-0">
        {{!-- Editing Controls --}}
        {{#if editPrivileges}}
        <div id="edit-controls" class="d-block p-2 bg-dark-glass rounded text-white mb-2">
          <div class="d-flex justify-content-center">
            <button id="new-task" class="btn btn-success me-1" style="flex:1;"><i class="fa-solid fa-plus pe-2"></i>New task</button>
            <button disabled id="delete-task" class="btn btn-danger ms-1" style="flex:1;"><i class="fa-solid fa-trash-can pe-2"></i>Delete Task</button>
          </div>
        </div>
        {{/if}}
        <div id="details" class="d-block p-2 bg-dark-glass rounded text-white">
          {{!-- Project Details --}}
          <div id="project-details" class="p-2">
            <label for="project-description"><b>Project Description:</b></label>
            <p id="project-description">{{project.description}}</p>
          </div>
          {{!-- Task Details --}}
          <div id="task-details" class="p-2" style="display:none;">
            <h4 id="task-title" class="p-0 m-0"></h4>
            <p><small id="task-author"></small></p>
            <label for="task-description"><b>Description:</b></label>
            <p id="task-description"></p>
            <label for="task-label"><b>Label:</b></label>
            <p id="task-label"><b></b></p>
            <label for="task-status"><b>Status:</b></label>
            <p id="task-status"><b></b></p>
            <label for="task-assignee"><b>Assigned To:</b></label>
            <p id="task-assignee"><b></b></p>
          </div>
          {{!-- Task Editor --}}
          <div id="task-editor" class="p-2" style="display:none;">
            <p class="fw-bold">Parent:</p>
            <select id="task-parent" class="form-control mb-3">
              <option value="null">(No Parent - Top Level)</option>
            </select>
            <p class="fw-bold">Title:</p>
            <input id="task-title" type="text" class="form-control mb-3"/>
            <p class="fw-bold">Description:</p>
            <textarea id="task-description" type="text" class="form-control mb-3" style="min-height:150px;"></textarea>
            <p class="fw-bold">Label:</p>
            <select id="task-label" class="form-control mb-3">
              <option value="mvp">MVP</option>
              <option value="enhancement">Enhancement</option>
              <option value="bugfix">Bugfix</option>
              <option value="docs">Docs</option>
            </select>
            <p class="fw-bold">Status:</p>
            <select id="task-label" class="form-control mb-3">
              <option value="todo">To-Do</option>
              <option value="in progress">In Progress</option>
              <option value="done">Done</option>
              <option value="icebox">Icebox</option>
            </select>
            <p class="fw-bold">Assigned To:</p>
            <select id="task-label" class="form-control mb-3">
              <option value="null">(None)</option>
            </select>
            <div id="button-box" class="d-flex justify-content-center">
              <button id="cancel-new-task" class="btn btn-secondary me-1" style="flex:1;">Cancel</button>
              <button id="confirm-new-task" class="btn btn-success me-1" style="flex:1;">Create Task</button>
            </div>
            <div id="err" class="text-light-danger py-2"></div>
          </div>
        </div>
      </section>
  </div>
  </section>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="/js/helpers.js"></script>
  <script src="/js/drawProjectDiagram.js"></script>
  {{#if editPrivileges}}
  <script src="/js/manageTaskEditor.js"></script>
  {{/if}}