:root {
  --dark-glass: #555555AA;
  --light-danger: #ffa1a1;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url("./water.jpeg");
  background-size: cover;
}

.bg-dark-glass {
  background-color: var(--dark-glass);
}

.text-light-danger {
  color: var(--light-danger);
}

#header {
  background-color: rgb(29, 28, 28);
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.headertext {
  color: rgb(255, 255, 255);
}

#headerlinks {
  float: right;
  font-weight: bolder;
  padding-right: 50px;
  padding-bottom: 20px;
}

aside {
  margin: 0 10px 0px 0;
  float: left;
  text-align: left;
  font-size: 12pt;
}

#Tasks {
  padding-top: 40px;
  justify-content: center;
}

#Tables1 {
  padding-right: 80px;

  float: left;
}
#Tables2 {
  width: 900px;
  border-left: solid thin black;
  float: left;
  padding-left: 3%;
}

/* ---------------------------------------
Styles for D3 Display
----------------------------------------*/

.node {
  cursor: pointer;
}

.node:hover {
  stroke: white;
  stroke-width: 1.5px;
}

.node.disabled {
  pointer-events: none;
}

.node.selected {
  /* pointer-events: none; */
  stroke: #444;
  stroke-width: 5px;
}

.node--leaf {
  fill: white;
}

.node--leaf:hover {
  stroke: none;
  fill: white;
}

.label {
  font: 14px "Source Sans Pro", sans-serif;
  font-weight: bold;
  text-anchor: middle;
  margin: 4px;
  background-color: #FFFFFF55;
  fill: white;
  border-radius: 10px;
  /* text-shadow: 0 3px 0 #fff, 3px 0 0 #fff, -3px 0 0 #fff, 0 -3px 0 #fff; */
}

.label,
.node--root {
  pointer-events: none;
}


/* Dashboard.handlebars CSS */



.card-title{
  color: white;
  font-weight: bold;
}

.card-text{
  color: white;

  
}


